<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Account</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            background: linear-gradient(to bottom, #f5f6f8, #98ceed);
        }
        .header {
            background-color: #007bff;
            color: #fff;
            padding: 10px;
            text-align: center;
            font-size: 24px;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"], input[type="password"], select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: #3b823b;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <marquee class="header" behavior="scroll" direction="left">Welcome to our online banking services</marquee>
    <br></br>
    <div class="container">
        <h3><%=msg%></h3>
        <h2>Add Money</h2>  
        <form action="/transfer_money" method="post">
            <div class="form-group">
                <label for="accountType">Account Type</label>
                <select id="accountType" name="accountType" required>
                    <option value="salary">Salary</option>
                    <option value="savings">Savings</option>
                    <option value="demat">Demat</option>
                </select>
            </div>
            <div class="form-group">
                <label for="employeeId">Bank Employee ID</label>
                <input type="text" id="employeeId" name="employeeId" required>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="accountId">Account ID</label>
                <input type="text" id="accountId" name="accountId" required>
            </div>
            <div class="form-group">
                <label for="username">Receiptent name</label>
                <input type="text" id="rec_name" name="rec_name" required>
            </div>
            <div class="form-group">
                <label for="accountId">Receiptent Account ID</label>
                <input type="text" id="rec_accountId" name="rec_accountId" required>
            </div>
            <div class="form-group">
                <label for="validId">Enter amount</label>
                <input type="number" id="amount" name="amount" required>
            </div>
            <button type="submit" class="form-group">
                Transfer Money
            </button>
        </form>
    </div>
</body>
</html>
